h1 {
    margin: 0;
}
p{
    margin: 0;
}

.download-modal {
    width: 600px !important;
    height: 320px;
}

.download-modal-header {
    height: 40px;
    width:100%;
    background: linear-gradient(90deg, #2BA9E0, #39B149);
}

.download-modal-header h1{
    font-family: "Proxima Nova Semibold";
    font-size: 18px;
    padding: 10px 0 10px 20px;
    color: #FFFFFF;
}

.close-button {
    position: fixed;
    right: 16px;
    top: 8px;
    background: none;
    border: none;
}

.div-download-store {
    text-align: center;
    margin-top: 50px;
}

.div-download-store-text-head {
    margin-top: 30px !important;
	font-family: "Proxima Nova Regular";
}

.div-download-store-text {
    font-family: "Proxima Nova Bold";
    font-size: 14px;
    color: #4D4D4D;
}

@font-face{
font-family:Proxima Nova;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Black.ttf');
}
@font-face{
font-family:Proxima Nova Regular;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Reg.ttf');
}
@font-face{
font-family:Proxima Nova Semibold;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Sbold.ttf');
}
@font-face{
font-family:Proxima Nova Light;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Light.ttf');
}
@font-face{
font-family:Proxima Nova Bold;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Bold.ttf');
}