


header, div, ul, li, h1, body, p {
    padding: 0;
    margin: 0;
}

.logo {
    float: left;
}
.header-division{
    height: 100px;
    box-shadow: 0px 3px 6px -5px #222;
}
.top-border{
    height: 3px;
    background: linear-gradient(90deg, #2BA9E0, #39B149);
}

header, nav, .body-wrapper {
    width: 1024px;
    margin: 10px auto;
}

.header-menu {
    display: inline-block;
    list-style-type: none;
}
.header-top-menu {
    float: right;
}

.header-menu li {
    display: inline-block;
}

.header-menu-top-list-icon{
    margin: 0 5px;
    font-family: "Proxima Nova Regular";
}

.header-menu-list-top{
    margin: 0 20px 0 0;
    font-family: "Proxima Nova Regular";
    font-size: 12px;
    color: #4D4D4D;
}
.header-down-menu {
    margin: 45px 0 0 75px;
    float: left;
}

.header-menu-list {
    margin: 0 30px 0 0;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #4D4D4D;
}

.menu-icon {
    float: right;
    margin: 15px 0 0 0;
}

.breadCrumb-menu {
    font-family: "Proxima Nova Regular";
    color: #2BA9E0 !important;
    font-size: 12px;
}

.breadCrumb-menu-last-child {
    color: #A3A3A3 !important;
    font-family: "Proxima Nova Regular";
}

.breadCrumb-menu-list {
    margin-right: 10px;
    font-family: "Proxima Nova Regular";
}

.filter-heading {
    font-family: "Proxima Nova Semibold";
    font-size: 18px;
    color: #4D4D4D;
    margin-bottom: 20px;
}
.filter-list-name{
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    color: #4D4D4D;
    margin-right: 20px; 
}

.filter-list-menu li{
    margin-right: 40px;
}

.wrapper {
    background: #FAFDFF;
}
.product-details {
    background-color: #071A22;
    width: 210px;
    margin-left: 6px;
}

.product-title {
    width: 10.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-family: "Proxima Nova Light";
    font-weight: light;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 0 0 20px;
    display: inline-block;
}

.product-price {
    font-weight: bold;
    font-size: 16px;
    font-family: "Proxima Nova Semibold";
}

.body-product-list {
    width: 1024px;
    border: 1px solid #A3A3A3;
    padding-top: 25px;
    padding-left: 23px;
}

.body-product-product{
    padding-bottom: 30px; 
}

.header-link {
    text-decoration: none;
    font-family: "Proxima Nova Regular" !important;
    font-size: 12px !important;
    color: #4D4D4D !important;
}

a:hover, a:active, a:focus {
    text-decoration: none !important;
}

.header-down-menu li a:focus {
    border-bottom : 2px solid #39B149;
    padding-bottom: 20px;
}
.header-down-link {
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #4D4D4D;
}

.breadCrumb-link {
    font-family: "Proxima Nova Semibold";
    color: #2BA9E0 ;
    font-size: 12px;
}

.filter-menu {
    display: none;
    margin: 20px 0px 0 0;
    position: absolute;
    width: 57px;
    background-color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 12px;
    color: #A3A3A3;
    z-index: 99;
    box-shadow: 4px 3px 6px -5px #222;
}
.size-menu{
    left: 170px;
}
.menu-checkbox {
    margin: 4px 5px 0 10px !important;
}
.size-menu-item {
    margin: 0;
    padding: 0;
}
.size-menu-item:hover, .dress-menu-item:hover, .color-menu-list:hover {
    background-color: #DAF0FA;;
}

.dress-menu{
    left: 273px;
    width: 115px;
}
.color-menu{
    margin: 0;
    left: 419px;
    width: 90px;
}
.color-menu-list{
    margin: 0!important;
}
.menu-circle{
    width: 100px;
                height: 100px;
                border-radius: 50%;
}
.black-circle{
    background: #000;
}

.blue-circle{
    background: blue;
}

.pink-circle{
    background: pink;
}

.red-circle{
    background: red;
}

.sort-menu {
    float: right;
}

.sort-menu-title{
    padding: 0;
    margin: 0;
}
.sort-menu-list {
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    color: #4D4D4D;
    border: none;
}

.product-title-title {
    width: 120px;
}

.product-title-price{
    font-size: 18px;
}

.product-box{
    margin-bottom: 30px;
}

.my-class-modal {
    width: 600px !important;
}

#modal-button{
	color:#4D4D4D !important;
    }
#modal-button:hover{
	color:#4D4D4D !important;
    background-color:white !important;
    }

#close-modal-button{
        font-size:18px;}

#close-modal-button:hover{
    background-color:transparent !important;
        font-size:18px;}

@font-face{
font-family:Proxima Nova;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Black.ttf');
}
@font-face{
font-family:Proxima Nova Regular;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Reg.ttf');
}
@font-face{
font-family:Proxima Nova Semibold;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Sbold.ttf');
}
@font-face{
font-family:Proxima Nova Light;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Light.ttf');
}
@font-face{
font-family:Proxima Nova Bold;
src: url('/etc/designs/MilEdge/clientlibs/fonts/ProximaNova-Bold.ttf');
}