<div class= "my-breadcrumb-class">

	<nav>

<ul class= "header-menu breadCrumb-menu">
            <li class= "breadCrumb-menu-list">
                <a href= "#" class="breadCrumb-link">
                    <span class= "breadCrumb-menu-list">
                    Home
                </span>
                <img src="/content/dam/MilEdgeContent/bread crumb_Arrow.png" />
                </a>
            </li>
            <li class= "breadCrumb-menu-list">
                <a href= "#" class="breadCrumb-link">
                    <span class= "breadCrumb-menu-list">
                    Women
                </span>
                <img src= "/content/dam/MilEdgeContent/bread crumb_Arrow.png" />
                </a>
            </li>
            <li class= "breadCrumb-menu-list">
                <a href= "#" class="breadCrumb-link">
                    <span class= "breadCrumb-menu-list">
                    Clothing
                </span>
                <img src= "/content/dam/MilEdgeContent/bread crumb_Arrow.png" />
                </a>
            </li>
            <li class= "breadCrumb-menu-last-child">
                <a href= "#" class="breadCrumb-menu-last-child">
                    Dresses
                </a>
            </li>
        </ul>
      </nav>
</div>