<!-- chat bot iframe starts-->
        <div class="chat-bot-icon">
            <img src="/content/dam/MilEdgeContent/Chat_Icon.png" alt="Chat Icons" id="chat-bot-icon" class = "chat-bot-icon1" >
            <div style="width: 400px !important;/* width: 400px; */height: 400px !important;/* width: 300px; */position: fixed;height: 400px;z-index: 900;right: 0;bottom: 0;" class= "chat-bot-hide" id= "chatBot" >

             <iframe src='https://miledge-bot.herokuapp.com/'  class= "chat-bot"
             style="border: none">
             </iframe>
             </div>
             <div  id ="alternative-header" class="alternative-header chat-bot-hide">
                 <p class="chat-bot-name">Miley</p>
             </div>

            <button type="button" class="close main-page-close-button chat-bot-hide" id="close-button" aria-label="Close">
            <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
        </div>        
    <!-- Chat Bot iframe ends -->




<div class="cq-placeholder section" data-emptytext="chatbot"></div>
