# Configuration created by Apache Sling JCR Installer
supportscredentials=B"false"
exposedheaders=["XMLHttpRequest"]
supportedmethods=["GET","HEAD","POST"]
alloworigin=["*"]
maxage=I"1800"
alloworiginregexp=[""]
allowedpaths=[".*"]
supportedheaders=["Origin","Accept","X-Requested-With","Content-Type","Access-Control-Request-Method","Access-Control-Request-Headers","Access-Control-Allow-Origin"]
