<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            margin: 0;
        }
    </style>
</head>
<body>
    <img src= "/content/dam/MilEdgeContent/dummypages/facebook.jpg" alt= "" usemap="#image-map">
    
    <map name="image-map">
        <area target="" alt="" title="" href="http://34.207.125.192:4510/content/MilEdge/miledge/en/home.html" coords="656,283,1147,657" shape="rect">
    </map>
    
</body>
</html>