<div class="cq-placeholder section hidden-xs" data-emptytext="Carousel"></div>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='product-Details'}" data-sly-unwrap/> 
 <ul class= "interested-product product-details-details-title">
                    
                        You may also be interested in

                </ul>
<div class="row my-carousel">
<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
        <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/shoes/Shoe1.jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                        Women Heels
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        269
                    </p>
                </div></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3">
          <a href="#">
              <img src="/content/dam/MilEdgeContent/cape/cape4/1 (5).jpg" class="img-responsive">
              <div class="product-details">
                    <p class="product-title">
                        Solid Cape Top
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        480
                    </p>
                </div>
          </a>
        </div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/bags/Bag 3.jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                        Brown Handbag
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        335
                    </p>
                </div>
                </a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/demindress/denim6/1 (2).jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                       Denim Shirt Dress
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        390
                    </p>
                </div>
                </a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/shoes/Shoe 4.jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                        Embroidered Pumps
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        259
                    </p>
                </div>
                </a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/bags/Bag 4.jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                        Textured Bucket Bag
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        250
                    </p>
                </div>
                </a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/demindress/denim2/2 (2).jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                        Blousten Dress
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        559
                    </p>
                </div>
                </a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="/content/dam/MilEdgeContent/demindress/denim11/1 (7).jpg" class="img-responsive">
      <div class="product-details">
                    <p class="product-title">
                        Chambray Shift Dress
                    </p>
                    <p class= "product-title product-price">
                        <span class= "product-title-price">
                            $
                        </span>
                        310
                    </p>
                </div>
                </a></div>
    </div>
  </div>
  <a class="left carousel-control prev-btn" href="#myCarousel" data-slide="prev"><img class= "nav-button" src="/content/dam/MilEdgeContent/next disable.png" alt="next" /></a>
  <a class="right carousel-control next-btn" href="#myCarousel" data-slide="next"><img class= "nav-button" src="/content/dam/MilEdgeContent/next active.png" alt="previous" /></a>
</div>

  </div>